@using DataAccess.Shop;

@{
    ViewBag.Title = "ShoppingCart";
    Layout = "~/Views/Shared/_LayoutShop.cshtml";
}
<script src="~/assets/js/Kaadoto/Shop/ShoppingCart.js"></script>
  <!-- Page Content -->
<div class="container ws-page-container">
    <div class="row">
        <!-- Cart Content -->
        <div class="ws-cart-page">
            <div class="col-sm-8">
                <div class="ws-mycart-content">
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="cart-item-head">&nbsp;</th>
                                <th class="cart-item-head">Item</th>
                                <th class="cart-item-head">Price</th>
                                <th class="cart-item-head">Quantity</th>
                                <th class="cart-item-head">Total</th>
                                <th class="cart-item-head">&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (PackagedBoxDTO item in ViewBag.PackagedBoxes)
                            {
                                <tr class="cart-item PackagedBoxTemp">
                                    <td class="cart-item-cell cart-item-thumb">
                                        <a href="#">
                                            <img src="@Url.Content(string.Format("~/UploadedFiles/Box/{0}", item.BoxImageName))" class="img-responsive" alt="Alternative Text">
                                        </a>
                                    </td>
                                    <td class="cart-item-cell cart-item-title">
                                        <h3><a href="#">@item.BoxTitle</a></h3>
                                    </td>
                                    <td class="cart-item-cell cart-item-price">
                                        <span class="amount packagedBoxPrice">@item.Price</span>
                                    </td>
                                    <td class="cart-item-cell cart-item-quantity">
                                        <input type="number" class="packagedBoxCount" value="1" onchange="$.Kaadoto.ShoppingCart.QuantityChanged(this)">
                                    </td>
                                    <td class="cart-item-cell cart-item-subtotal">
                                        <span class="amount packagedBoxTotalPrice">@item.Price</span>
                                    </td>
                                    <td class="cart-item-cell caption">
                                        <textarea cols="30" rows="3" class="CustomerMessage"></textarea>
                                    </td>
                                    <td class="cart-item-cell cart-item-remove">
                                        <span><a href="#x"><i class="fa fa-times"></i></a></span>
                                    </td>
                                </tr>
                                ViewBag.Subtotal += item.Price;
                            }
                            <tr>
                                <td colspan="6">
                                    <!-- Coupon -->
                                    <div class="ws-coupon-code">
                                        <form class="form-inline">
                                            <div class="form-group">
                                                <input type="text" placeholder="Coupon code">
                                            </div>
                                            <!-- Button -->
                                            <a class="btn ws-small-btn-black">Apply Coupon</a>
                                        </form>
                                    </div>
                                    <!-- Update Cart -->
                                    <div class="ws-update-cart">
                                        <a class="btn ws-small-btn-black">Update Cart</a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- Cart Total -->
            <div class="col-sm-4">
                <div class="ws-mycart-total">
                    <h2>Cart Totals</h2>
                    <table>
                        <tbody>
                            <tr class="cart-subtotal">
                                <th>Subtotal</th>
                                <td><span class="amount SubtotalPrice">@ViewBag.Subtotal</span></td>
                            </tr>
                            <tr class="shipping">
                                <th>Shipping</th>
                                <td><span class="amount ShippingPrice">0</span></td>
                            </tr>
                            <tr class="order-total">
                                <th>Total</th>
                                <td><strong><span class="amount OrderTotalPrice">$84.00</span></strong></td>
                            </tr>
                        </tbody>
                    </table>
                    <a class="btn ws-btn-fullwidth">Check Out</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Page Content -->

