@using Common.Core;

@{
    ViewBag.Title = "Kaadoto";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

    <!-- Hero Content -->
<div id="ws-hero-fullscreen" class="rev_slider">
    <ul>
        <li data-transition="fade" data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="2000">
            <!-- Background Image -->
            <img src="~/assets/img/backgrounds/hero-bg.jpg" alt="Alternative Text" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10">
            <!-- Background Overlay -->
            <div class="tp-caption"
                 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                 data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
                 data-width="full"
                 data-height="full"
                 data-whitespace="nowrap"
                 data-transform_idle="o:1;"
                 data-transform_in="opacity:0;s:1500;e:Power3.easeInOut;"
                 data-transform_out="s:300;s:300;"
                 data-start="750"
                 data-basealign="slide"
                 data-responsive_offset="on"
                 data-responsive="off"
                 style="z-index: 5;background-color:rgba(0, 0, 0, 0.40);border-color:rgba(0, 0, 0, 0.50);">
            </div>
            <!-- Layer -->
            <div class="tp-caption ws-hero-title"
                 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                 data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','1']"
                 data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;"
                 data-mask_in="x:0px;y:0px;"
                 data-mask_out="x:0;y:0;"
                 data-start="1000"
                 data-responsive_offset="on"
                 style="z-index: 6;">
                <h1>A selection of creative <br class="rwd-break"> commissioned works.</h1>
            </div>
            <!-- Layer -->
            <div class="tp-caption ws-hero-description"
                 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                 data-y="['middle','middle','middle','middle']" data-voffset="['-72','-72','-72','-48']"
                 data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;"
                 data-mask_in="x:0px;y:0px;"
                 data-mask_out="x:0;y:0;"
                 data-start="1000"
                 data-responsive_offset="on"
                 style="z-index: 7;">
                <h4>Spanning the fields of illustration, lettering &amp; fine art.</h4>
            </div>
            <!-- Button -->
            <div class="tp-caption"
                 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                 data-y="['middle','middle','middle','middle']" data-voffset="['92','92','92','76']"
                 data-transform_in="y:50px;opacity:0;s:1500;e:Power4.easeInOut;"
                 data-start="1000"
                 data-responsive_offset="on"
                 data-responsive="off"
                 style="z-index: 8;">
                <a class="btn ws-big-btn" href="shop.html">View Collention</a>
            </div>
        </li>
    </ul>
    <div class="tp-static-layers"></div>
    <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
</div>
<!-- Hero Content -->
<!-- About Section Start -->
<section class="ws-about-section">
    <div class="container">
        <div class="row">
            <!-- Description -->
            <div class="ws-about-content clearfix">
                <div class="col-sm-8 col-sm-offset-2">
                    <h3>Made with Love</h3>
                    <div class="ws-separator"></div>
                    <p>We are a family of creators – close knit and a little crazy – handcrafting goods at our workshop  New York, USA. We make beautiful products from quality materials because believe each one is a representation of who we are close knit and a little crazy – handcrafting.</p>
                </div>
            </div>
            <!-- Featured Collections -->
            <div class="ws-featured-collections clearfix">
                <!-- Item -->
                <div class="col-sm-4 featured-collections-item">
                    <a href="#x">
                        <div class="thumbnail">
                            <img src="~/assets/img/backgrounds/abstract-bg.jpg" alt="Alternative Text">
                            <div class="ws-overlay">
                                <div class="caption">
                                    <h3>Abstract Prints</h3>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- Item -->
                <div class="col-sm-4 featured-collections-item">
                    <a href="#x">
                        <div class="thumbnail">
                            <img src="~/assets/img/backgrounds/journal-bg.jpg" alt="Alternative Text">
                            <div class="ws-overlay">
                                <div class="caption">
                                    <h3>Journals</h3>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- Item -->
                <div class="col-sm-4 featured-collections-item">
                    <a href="#x">
                        <div class="thumbnail">
                            <img src="~/assets/img/backgrounds/illustrated-bg.jpg" alt="Alternative Text">
                            <div class="ws-overlay">
                                <div class="caption">
                                    <h3>Illustrated Prints</h3>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About Section End -->
<!-- Work Collection Start  -->
<section class="ws-works-section">
    <div class="container">
        <div class="row">
            <div class="ws-works-title">
                <div class="col-sm-12">
                    <h3>Featured Products</h3>
                    <div class="ws-separator"></div>
                </div>
            </div>
            @foreach (BoxDTO item in ViewBag.InterestedBoxes)
            {
                <div class="col-sm-6 col-md-4 ws-works-item" data-sr='wait 0.1s, ease-in 20px'>
                    <a href="#">
                        <div class="ws-item-offer">
                            <!-- Image -->
                            <figure>
                                <img src="@Url.Content(string.Format("~/UploadedFiles/Box/{0}", item.ImageName))" alt="Alternative Text" class="img-responsive">
                            </figure>
                            <!-- Sale Caption -->
                            @*<div class="ws-item-sale">
                                <span>Sale</span>
                            </div>*@
                        </div>
                        <div class="ws-works-caption text-center">
                            <!-- Item Category -->
                            <div class="ws-item-category">@item.BoxSize</div>
                            <!-- Title -->
                            <h3 class="ws-item-title">@item.Name</h3>
                            <div class="ws-item-separator"></div>
                            <!-- Price -->
                            <div class="ws-item-price"><del>$50.00</del> <ins>$25.00</ins></div>
                        </div>
                    </a>
                </div>
            }
        </div>
    </div>
</section>
<!-- Work Collection End  -->
<!-- New Arrivals Section -->
<section class="ws-arrivals-section">
    <div class="ws-works-title clearfix">
        <div class="col-sm-12">
            <h3>Clients</h3>
            <div class="ws-separator"></div>
        </div>
    </div>
    <div id="ws-items-carousel">
        @foreach (ClientDTO item in ViewBag.Clients)
        {
            <div class="ws-works-item" data-sr='wait 0.1s, ease-in 20px'>
                <a href="#">
                    <div class="ws-item-offer">
                        <!-- Image -->
                        <figure>
                            <img src="@Url.Content(string.Format("~/UploadedFiles/Client/{0}", item.ImageName))" alt="Alternative Text" class="img-responsive">
                        </figure>
                    </div>
                    <div class="ws-works-caption text-center">
                        <!-- Item Category -->
                        @*<div class="ws-item-category">Abstract Prints</div>*@
                        <!-- Title -->
                        <h3 class="ws-item-title">@item.Title</h3>
                        <div class="ws-item-separator"></div>
                        <!-- Price -->
                        @*<div class="ws-item-price"><del>$50.00</del> <ins>$25.00</ins></div>*@
                    </div>
                </a>
            </div>
        }
    </div>
</section>
<!-- End New Arrivals Section -->
<!-- Call to Action Section -->
<section class="ws-call-section">
    <div class="ws-overlay">
        <div class="ws-parallax-caption">
            <div class="ws-parallax-holder">
                <div class="col-sm-6 col-sm-offset-3">
                    <h2>JOURNAL</h2>
                    <div class="ws-separator"></div>
                    <p>Our blog covering interesting stories around culture and design.<br>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy.</p>
                    <div class="ws-call-btn">
                        <a href="#">Show all journal items</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Call to Action Section -->  
